<section class="home-container">
    <div class="welcome-section">
        <img src="https://png.pngtree.com/png-vector/20220520/ourmid/pngtree-welcome-landing-page-diverse-people-png-image_4688311.png"
            alt="Welcome" class="welcome-image">
        <h1>Bienvenido a Hotel Manager!</h1>
        <p>Tu mejor aliado para encontrar y reservar la habitación perfecta</p>
        <div class="features">
            <div class="feature">
                <mat-icon>location_on</mat-icon>
                <span>Encuentra hoteles cerca de ti</span>
            </div>
            <div class="feature">
                <mat-icon>explore</mat-icon>
                <span>Explora las mejores ofertas y servicios</span>
            </div>
            <div class="feature">
                <mat-icon>event</mat-icon>
                <span>Reserva fácilmente y disfruta tu estadía</span>
            </div>
        </div>
    </div>
</section>
