<footer id="footer">
  <div class="footer_container">
    <div class="footer_section">
      <h3>Hotel Manager</h3>
      <p>Es tu aplicación para encontrar y reservar las mejores habitaciones en los hoteles más prestigiosos, de manera rápida y segura. Compara precios, lee opiniones y reserva tu estancia en minutos.</p>
    </div>
    <div class="footer_section">
      <h4>Enlaces</h4>
      <ul>
        <li><a>Inicio</a></li>
        <li><a>Acerca de nosotros</a></li>
        <li><a>Contactanos</a></li>
      </ul>
    </div>
    <div class="footer_section">
      <h4>Servicios</h4>
      <ul>
        <li><a>Restaurante</a></li>
        <li><a>Piscina</a></li>
        <li><a>Transporte</a></li>
        <li><a>Terminos y condiciones</a></li>
      </ul>
    </div>
    <div class="footer_section">
      <h4>Síguenos</h4>
      <div class="social_icons">
        <a><i class="fab fa-facebook-f"></i></a>
        <a><i class="fab fa-twitter"></i></a>
        <a><i class="fab fa-instagram"></i></a>
        <a><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <p>&copy; (c) 2024 Hotel Manager 1.0.0</p>
  </div>
</footer>
