<mat-form-field class="password_input" appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input matInput #inputRef
      [id]="id"
      [name]="name"
      [type]="hide ? 'password' : 'text'"
      [placeholder]="placeholder"
      [formControl]="inputControl"
      (blur)="handleBlur($event)"
      (focus)="handleFocus($event)"
      (keydown)="handleKeyDown($event)"
      (keyup)="handleKeyUp($event)"
      (keypress)="handleKeyPress($event)"
      (input)="handleInput($event)"
      (change)="handleChange($event)"
      (click)="handleClick($event)"
      (dblclick)="handleDblClick($event)"
      (mousedown)="handleMouseDown($event)"
      (mouseup)="handleMouseUp($event)">
  <mat-error class="required" *ngIf="inputControl.hasError('required')">
    {{ errorMessages["required"] || 'Este campo es obligatorio.' }}
  </mat-error>
  <span *ngIf="icon" matTextPrefix><i class="{{icon}}"></i></span>
  <button mat-icon-button matSuffix
    type="button"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
    (touchstart)="mouseDown($event)"
    (touchend)="mouseUp()"
    (mousedown)="mouseDown($event)"
    (mouseup)="mouseUp()"
    (mouseout)="mouseUp()"
    >
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
