<button
  class="btn_danger"
  #btnRef
  mat-flat-button
  [disabled]="disabled"
  [id]="id"
  [name]="name"
  [type]="type"
  (blur)="handleBlur($event)"
  (focus)="handleFocus($event)"
  (keydown)="handleKeyDown($event)"
  (keyup)="handleKeyUp($event)"
  (keypress)="handleKeyPress($event)"
  (input)="handleInput($event)"
  (change)="handleChange($event)"
  (click)="handleClick($event)"
  (dblclick)="handleDblClick($event)"
  (mousedown)="handleMouseDown($event)"
  (mouseup)="handleMouseUp($event)"
>
  <i class="icon {{icon}}"></i>
  {{label}}
  <ng-content></ng-content>
</button>
