<div id="hotel_edit_delete">
    <div class="content-container main-screen">
        <header class="row title principal-title">
            <div class="col-xs-12 text-center header_container">
                <h1 class="main-title">{{action | getTitleEditDeleteComponent: 'Hotel'}}</h1>
            </div>
        </header>
        <section class="hotel_content main-content">
            <form [formGroup]="form" (ngSubmit)="sendForm()">
                <text-input [required]="true" formControlName="name" placeholder="Escriba el nombre del hotel"
                    label="Nombre" id="name" name="name" [validateText]="true" />

                <text-input [required]="true" formControlName="address" placeholder="Escriba la dirección de su hotel"
                    label="Dirección" id="address" name="address" [validateText]="true" />

                <text-input [required]="true" formControlName="phone" placeholder="Escriba el teléfono de su hotel"
                    label="Teléfono" id="phone" name="phone" [onlyNumbers]="true" [maxLength]="8" [minLength]="8"
                    [errorMessages]="{maxlength: 'Por favor coloca un teléfono valido', minlength: 'Por favor coloca un teléfono valido'}" />

                <text-input [required]="true" formControlName="email" placeholder="Escriba el correo de su hotel"
                    label="Correo" id="email" name="email" [validateEmail]="true" />

                <div>&nbsp;</div>
                <div class="buttons_container">
                    <btn-secondary class="button" label="Cancelar" id="closeForm" name="closeForm" type="button"
                        (onClick)="backToList()" [disabled]="loading"></btn-secondary>
                    <btn-danger *ngIf="action == 'DELETE'" class="button" label="Eliminar" id="confimationDelete"
                        name="confimationDelete" type="submit" [disabled]="loading || !form.valid"></btn-danger>
                    <btn-primary *ngIf="action == 'EDIT'" class="button" label="Confirmar" id="confirmationEdit"
                        name="confirmationEdit" type="submit" [disabled]="loading || !form.valid"></btn-primary>
                </div>
            </form>
        </section>
        <div *ngIf="loading" class="spinner">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>