<section>
  <!-- Navbar -->
  @if (isLoggedIn){
    <hotelmger-logged-in-navbar></hotelmger-logged-in-navbar>
  } @else {
    <hotelmger-logged-out-navbar></hotelmger-logged-out-navbar>
  }

  <!-- Body -->
  <section class="main-content-container body_container">
    <mat-sidenav-container #drawerContainer autosize [ngClass]="isLoggedIn ? 'side_nav_container': ''">
      <mat-sidenav #sideMenu [mode]="mode" [opened]="open_menu" position="start" class="main-sidenav">
        <hotelmger-logged-in-sidebar *ngIf="isLoggedIn"></hotelmger-logged-in-sidebar>
      </mat-sidenav>
      @if (isLoggedIn){
        <div class="container-fluid main-content-outer">
          <router-outlet></router-outlet>
        </div>
      }@else {
        <div class="content-public">
          <router-outlet />
        </div>
      }
    </mat-sidenav-container>
  </section>

  @if (!isLoggedIn) {
    <hotelmger-logged-out-footer></hotelmger-logged-out-footer>
  }
</section>